*{
  margin: 0;
  padding: 0;
}
body{
  /* background: url('/public/bg.jpg'); */
  text-align: center;
  height: 100%;
  width: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
#canvas{
  background-image: url('./assets/doodlejumpbg.png');
  display: none;
}

.container{
  width: 400px;
  height: 600px;
  box-sizing: border-box;
  background-image: url('./assets/doodlejumpbg.png');
  cursor: pointer;
  padding-top: 100px;

}
.container button{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: rgb(47, 151, 242);
  margin-top: 20px;
}
